{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1 class="display-2">Doggodex</h1>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <small class="text-muted">Upload an image of your dog!</small>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <form method="POST" action="{{ url_for('bp.index') }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                {{ form.file }}
                {{ form.recaptcha }}
                {{ form.submit }}     
            </form>
        </div>
    </div>

    <hr>

    <p class="lead">Instructions</p>
    <p>Upload a picture of your dog using the file uploader above. <br> Once it is finished uploading, click the submit
        button and Doggodex will try to predict what breed your dog is.</p>
    <br>
    <p class="lead">What <i>exactly</i> is Doggodex?</p>
    <p> Doggodex is a dog breed classifier.
        It is a machine learning project in which a model will take in an image (of a dog, preferably) as an input and
        it will
        try to classify what breed of dog is resembled in the submitted image.</p>
</div>
{% endblock %}