{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1 class="display-2">Doggodex</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            Your image
        </div>
        <div class="col-sm">
            Prediction result
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            1 of 2
        </div>
        <div class="col-sm">
            2 of 2
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <button>Submit</button>
        </div>
    </div>
    <hr>
    <p class="lead">What is Doggodex?</p>
    <p>This is a quick mockup design. <br> This is placeholder text to add content and filler to get a feel for the design.</p>
</div>
{% endblock %}