{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1 class="display-2">Doggodex</h1>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <h5><small class="text-muted">Your image</small></h5>
            <img src="temp/{{ image }}" alt="You aren't supposed to be here yet!" width="auto" height="375px">
        </div>
        <div class="col-sm">
            <h5><small class="text-muted">Prediction result</small></h5>
            <img src="{{ predicted_dog }}" alt="No picture available." width="auto" height="375px">
        </div>
    </div>

    <hr>

    <p class="lead">Doggodex thinks that you look like a <b>{{ predicted_class_label }}!</b></p>

    <div class="small">
        <p>If you're not a <b>{{ predicted_class_label }} </b>, then Doggodex thinks that you are one of the following:
            <ul>
                <li>{{ top_5_classes[1] }}</li>
                <li>{{ top_5_classes[2] }}</li>
                <li>{{ top_5_classes[3] }}</li>
                <li>{{ top_5_classes[4] }}</li>
            </ul>
        </p>
    </div>
    
    <hr>

    <br>
    <div class="row">
        <iframe src="{{ wiki_entry }}" height="500px"></iframe>
    </div>
    <br>
    <hr>

    <p class="lead">Hey! Doggodex was <b>wrong</b>!</p>
    <p>Well, its not always correct. Doggodex achieved around an 75% accuracy during training and was trained to 
        only classify 120 different breeds of dogs. There are approximately 300+ breeds of dogs according to online sources, and 
        Doggodex tries to give you a single result, so it will try its best to give you a definitive answer according to the model.
        <br>
        The scenarios Doggodex struggles with are:
        <li>detecting a dog of mixed breeds</li>
        <li>dog breeds outside of the training dataset,</li>
        <li>images that contain a lot of visual noise</li>
        <li>images that do not contain a dog</li>
        <li>identifying the breed of a dog that shares a lot of visual similarties to other dog breeds</li>
        <br>
    </p>

    <hr>
    
    <form>
        <div class="row justify-content-md-center">
                <button formaction="/">Let's try it again!</button>
        </div>
    </form>

    <hr>

</div>
{% endblock %}