{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1 class="display-2">Doggodex</h1>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm">
            <small class="text-muted">Your image</small>
        </div>
        <div class="col-sm">
            <small class="text-muted">Prediction result</small>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <img src="static/{{ image }}" alt="You aren't supposed to be here yet!" width="500px" height="375px">
        </div>
        <div class="col-sm">
            {{ predicted_class }}
        </div>
    </div>

    <hr>

    <p class="lead">Your dog is a <b>pleb</b></p>

    <hr>

    <p class="lead">Hey! Doggodex was <b>wrong</b>!</p>
    <p>Well, its not always correct. Doggodex achieved around an 80% accuracy during training and was trained to 
        only classify 120 different breeds of dogs. There are approximately 300+ breeds of dogs according to online sources, and 
        Doggodex tries to give you a single result, so it doesn't account for problems such as detecting mixed breeds, 
        dog breeds outside of the training dataset, and so on.</p>
</div>
{% endblock %}